---
stylesheets:
- ../../scss/index.scss
---
{{!< base}}

<main>
    <div class="data-entry-field">
        <h1>Authorization</h1>
        <div>
            <div>{{> input className="input__main-input" pholderText=data.reg_pholders.login}}</div>
            <div>
                {{> input className="input__main-input" pholderText=data.sec_pholders.password inType="password"}}
            </div>
        </div>
        <div class="button__row-container">
            {{> linkbutton 
                className="button__primary-button rounding" 
                btnText=data.buttonstext.buttonlogtext 
                linkName="../chat/index.hbs"
            }}
            {{> linkbutton 
                className="button__secondary-button rounding" 
                btnText=data.buttonstext.buttonregtext
                linkName="../register/index.hbs"
            }}
        </div>
    </div>
</main>