---
stylesheets:
- ../../scss/index.scss
---
{{!< base}}
<main>
    <div class="data-entry-field">
        <h1>Registration</h1>
        <div>
            {{#each data.reg_pholders}}
                <div>
                    {{> input className="input__main-input" pholderText=this }}
                </div>
            {{/each}}
            {{#each data.sec_pholders}}
                <div>
                    {{> input className="input__main-input" pholderText=this inType="password"}}
                </div>
            {{/each}}
        </div>
        <div class="button__row-container">
            {{> linkbutton 
                className="button__secondary-button rounding"
                btnText=data.buttonstext.buttonlogtext
                linkName="../login/index.hbs"
            }}
            {{> linkbutton className="button__primary-button rounding"
                btnText=data.buttonstext.buttonregtext
                linkName="../login/index.hbs"
            }}
        </div>
    </div>
</main>