@mixin styleBytton {
    display: block;
    border: none;
    text-align: center;
    text-decoration: none;
}

.button__row-container {
    @include flexRow;
    padding-top: 50;
    align-items: center;
    justify-content: space-between;
}

.button__primary-button {
    @include styleBytton;
    background-color: $dark-color;
    color: white;
    width: 50%;
    height: 68px;
    font-size: 28;
    line-height: 68px;
}

.button__secondary-button {
    @include styleBytton;
    background-color: $ultralight-color;
    color: $light-color;
    width: 35%;
    height: 45px;
    font-size: 22;
    line-height: 45px;
}

.button__secondary-setting-button {
    @include styleBytton;
    background-color: $ultralight-color;
    color: $light-color;
    width: 35%;
    height: 68px;
    font-size: 22;
    line-height: 34px;
}

.button__secondary-picchange-button {
    @include styleBytton;
    background-color: $ultralight-color;
    color: $light-color;
    width: 100px;
    height: 45px;
    font-size: 22;
    line-height: 45px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button__send-message {
    @include styleBytton;
    background-color: $dark-color;
    color: white;
    font-size: 40;
    width: 60px;
    height: 60px;
    margin-top: 19px;
    margin-left: 0px;
    margin-right: auto;
    line-height: 60px;
}

.button__primary-button:hover, .button__send-message:hover {
    background-color: black;
}

.button__secondary-button:hover, .button__secondary-setting-button:hover, .button__secondary-picchange-button:hover {
    color: $dark-color;
}

.input__main-input {
    @include bottomBorder;
    color: $dark-color;
    border-color: $light-color;
    outline: 0;
    width: 100%;
    height: 50;
    font-size: 22;
}

.input__main-input:focus {
    border-color: $dark-color;
}

.input__message-input {
    @include styleBorder;
    box-sizing: border-box;
    outline: 0;
    width: 80%;
    height: 60px;
    margin-left: auto;
    margin-top: 19px;
    resize: none;
    font-size: 15;
}