@mixin userPic {
    display: block;
    @include styleBorder;
    height: 100px;
    min-height: 100px;
    width: 100px;
    min-width: 100px;
    background-color: $ultralight-color;
    margin-right: 25px;
}

.input__settings-name-container {
    flex-grow: 1;
}

.settings {
    &__user-container {
        @include flexRow;
        width: 100%;
    }

    &__user-pic {
        @include userPic;

        &_center {
            @include userPic;
            margin-left: auto;
            margin-right: auto;
        }
    }
}