<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  {{#each stylesheets}}
    <link href="{{this}}" rel="stylesheet" />
  {{/each}}
  <title>
  </title>
</head>
<body>
  {{{body}}}
</body>
</html>
